.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#projects{
    padding-top: 2rem;
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}
#projects{
    padding-top: 5rem;
}
.linkIG {
    text-decoration: none;
}
.linkIG:hover {
    background-color: aqua;
    
}